* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  background: #eeeeee;
  font-family: "Roboto", sans-serif;
}
input,
textarea {
  border: none !important;
  box-shadow: 0px 1px 2px #dddddd;
}
input:focus,
textarea:focus {
  box-shadow: 0px 2px 3px #dddddd !important;
}
